<li id="comments">
    <p>
        
        <div id="comment-container">
            <%if(comment.user.avatar){%>        <!--if user has its profile pic then show his own profile pic -->
                <div>
                    <span>
                        <img src="<%= comment.user.avatar %>" alt="Profile picture" id="profile">
                    </span>
                </div>
            <%}else{%>                   <!--if user hasnt uploaded his profile pic then show default profile pic -->
                <div>
                    <span>
                        <img src="https://getdrawings.com/img/facebook-profile-picture-silhouette-female-3.jpg" alt="Profile picture" id="profile">
                    </span>
                </div>
            <% } %>

            
            <div class="heading-container">
                <span id="comment-username">
                    <%= comment.user.name%>                 <!--commenter name-->
                </span>
                <br>
                <span id="comment-content">
                    <%= comment.content%>                   <!--comment-->
                </span>
            </div>
        </div>    

            <div class="like-and-delete">
                <div id="comment-time">
                    <small >
                        <%=comment.createdAt.toDateString()%>     <!--comment time-->
                    </small>
                </div>
                    <div id="like">
                        <small>
                            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                                Like                            <!--Like button-->
                            </a>
                        </small>
                        
                    </div>
                    <div id="delete">
                        <small>
                            <% if (locals.user.id == comment.user._id||locals.user.name==post.user.name){ %>
                                <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>">Delete</a>
                                    <!--only the user who had posted the post or the user who has commented on that post can delete the post-->
                        <% } %>
                        </small>
                    </div>
            </div>
        
        <span class="likes-count">
            <%= comment.likes.length %> Likes          <!--Likes count on the comment-->
        </span>
        
        <br>

    </p>    

</li>