<link rel="stylesheet" href="/css/user_profile.css">
<link rel="stylesheet" href="/css/chat_box.css">
<div>
     <%if(user.avatar){%>     <!--if user has its profile pic then show his own profile pic -->
        <div>
            <span id="user-photo">
                <span><img src="<%= profile_user.avatar%>" id="profile-photo"></span>
            </span>
            <span id='username'><%= profile_user.name %></span>             <!--name of user whose profile you are viewing-->
        </div>
    <%}else{%>   <!--if user hasnt uploaded his profile pic then show default profile pic -->
        <div>
            <span>
                <img src="https://getdrawings.com/img/facebook-profile-picture-silhouette-female-3.jpg" alt="Profile picture" id="profile-photo">
            </span>
            <span id='username'><%= profile_user.name %></span>                 <!--name of user whose profile you are viewing-->
        </div>
    <% } %>
</div>
<div id="profile-container">
    <div id="photos">
        <div class="heading">Photos </div>
        <% for(photo of all_photos){ %>
                        
             <%- include('_photo') -%>        <!--  show all the uploaded photos of the logged in user -->
           
        <%} %>

    </div>
    <div id="posts">
        <div  class="heading">Posts</div>
        <% for(post of all_posts){ %>
                        
            <%- include('_post') -%>           <!--  show all the uploaded posts of the logged in user -->
           
        <%} %>
    </div>
    <div id="edit"> 
        <% if(user.id == profile_user.id){ %>
            <div  class="heading"> Edit profile</div>       <!-- if it is the profile of logged in user only then he can edit his profile -->
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" class="form-control" id="inputEmail3" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" class="form-control" id="inputEmail3" required>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">DOB</label>
                        <div class="col-sm-10">
                            <input type="text" name="dob" placeholder="Your DOB" value="<%= profile_user.dob.toDateString() %>" class="form-control" id="inputEmail3" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <input type="text" name="gender" placeholder="Your Gender" value="<%= profile_user.gender %>" class="form-control" id="inputEmail3" required>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Change DP</label>
                        <div class="col-sm-10">
                            <input type="file" name="avatar" placeholder="Profile Picture">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
            </form>
        <%}%>     
    </div>
</div>
<%- include('_chat_box') -%>                            <!--  show the chatbox -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<% if (locals.user){ %>
    <script>
        new ChatEngine('user-chat-box', '<%= locals.user.email %>',' <%= locals.user.name%>')
    </script>
<% } %>




